/src/test/resources/terrain/com_moonsworth_lunar_OCCOIRIHCIHOCIOCICROCRHRHRIHCO_HHCCHRHORCRIHRIIHRIICIHHCOOCHR_CHIRCOROIOHCCIIRRCCHOIHHHIOIOH_CHIRCOROIOHCCIIRRCCHOIHHHIOIOH_CCIRCHROCOHOCHICRORRCIRCRRIOHR.loader1.live.class.dat
/src/test/resources/terrain/net_minecraft_client_renderer_chunk_RenderChunk.loader1.live.class.dat
/src/test/resources/terrain/net_minecraft_client_renderer_ChunkRenderContainer.loader2.live.class.dat
/src/test/resources/terrain/net_minecraft_client_renderer_GlStateManager.loader4.live.class.dat
/src/test/resources/terrain/net_minecraft_client_renderer_OpenGlHelper.loader3.live.class.dat
/src/test/resources/terrain/net_minecraft_client_renderer_RenderGlobal.loader3.live.class.dat
/src/test/resources/terrain/net_minecraft_client_renderer_VboRenderList.loader2.live.class.dat
/src/test/resources/terrain/net_minecraft_client_renderer_vertex_DefaultVertexFormats.loader10.live.class.dat
/src/test/resources/terrain/net_minecraft_client_renderer_vertex_VertexBuffer.loader1.live.class.dat
/src/test/resources/terrain/net_minecraft_client_renderer_vertex_VertexFormat.loader9.live.class.dat
/src/test/resources/terrain/net_minecraft_client_renderer_vertex_VertexFormatElement.loader8.live.class.dat
/src/test/resources/terrain/net_optifine_Config.loader7.live.class.dat
/src/test/resources/terrain/org_lwjgl_opengl_ContextGL.loader4.live.class.dat
/src/test/resources/terrain/org_lwjgl_opengl_Display.loader6.live.class.dat
/src/test/resources/terrain/org_lwjgl_opengl_GLContext.loader5.live.class.dat
/src/test/resources/terrain/hookstage/CCIRCHROCOHOCHICRORRCIRCRRIOHR.hook-input.class.dat
/src/test/resources/terrain/hookstage/ChunkRenderContainer.hook-input.class.dat
/src/test/resources/terrain/hookstage/Config.hook-input.class.dat
/src/test/resources/terrain/hookstage/ContextGL.hook-input.class.dat
/src/test/resources/terrain/hookstage/DefaultVertexFormats.hook-input.class.dat
/src/test/resources/terrain/hookstage/Display.hook-input.class.dat
/src/test/resources/terrain/hookstage/GLContext.hook-input.class.dat
/src/test/resources/terrain/hookstage/GlStateManager.hook-input.class.dat
/src/test/resources/terrain/hookstage/OpenGlHelper.hook-input.class.dat
/src/test/resources/terrain/hookstage/RenderChunk.hook-input.class.dat
/src/test/resources/terrain/hookstage/RenderGlobal.hook-input.class.dat
/src/test/resources/terrain/hookstage/VboRenderList.hook-input.class.dat
/src/test/resources/terrain/hookstage/VertexBuffer.hook-input.class.dat
/src/test/resources/terrain/hookstage/VertexFormat.hook-input.class.dat
/src/test/resources/terrain/hookstage/VertexFormatElement.hook-input.class.dat
